.gradle/
**/build/
.kotlin/
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.log
logcat_*
meminfo_*
window_dump.xml
os.txt
_runs/
_agent_runs/
Test.class
logcat*.txt
crash_test*.txt
abi.txt

# Ignore local PMTiles archives
*.pmtiles
.opencode/
.opencode/


.tmp-gradle/
